 
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    padding: 1em;
}
.gu-hide {
    display: none !important;
  }
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
.gu-transit {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
.gu-mirror {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.parent {
    display:flex;
    flex-direction:column;
    gap: 10px;
    width: 150px;
    pointer-events: none;

}

.edit {
    width: 100px;
    height: 50px;
    background-color: red;
}

.apply {
    width: 100px;
    height: 50px;
    background-color: green;
}
/* form toto */
.leftC, .leftC1 {
    width: 722px;
    min-height: 395px;
    clear: left;
    float: left;
}
.filmborder {
    width: 730px;
    float: left;
    height: auto;
    margin-left: -25px;
    padding: 0;
    border: 2px solid #191919;
    margin-bottom: 10px;
}
/* end form toto */

.canclick {
    display:flex;
    flex-direction:column;
    gap: 10px;
    width: 150px;
}

.thin {
    width:150px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
}

/* .parent > div {
    width:150px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
} */

.parent2 {
    display:flex;
    flex-direction:column;
    gap: 10px;
    width: 150px;
    pointer-events: none;

}
.canclick2 {
    display:flex;
    flex-direction:column;
    gap: 10px;
    width: 150px;
}
.thin2 {
    width:150px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    color: white;
}
.all {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px
}
.boxEvent{
    display: flex;
    width: 1304px;
    height: 262px;
    padding: 21px 0px;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px dashed #000;
    background: var(--wf-base-white, #FFF);
}
